QMenuBar {
    background-color: #020202;
    color: #eeeeee;
}

QMenuBar::item::selected {
    background-color: #303030;
    color: #eeeeee;
}

QPushButton {
    background-color: #2b2b2b;
    color: #eeeeee;
}

QMainWindow {
    background-color: #121212;
}

QDialog {
    background-color: #121212;
}

QLineEdit {
    background-color: #dddddd;
}

QLabel {
    background-color: #010101;
    color: #eeeeee;
}