QMenuBar {
    background-color: #525252;
    color: #eeeeee;
}

QMenuBar::item::selected {
    background-color: #303030;
    color: #eeeeee;
}

QPushButton {
    background-color: #2b2b2b;
    color: #eeeeee;
}

QMainWindow {
    background-color: #323232;
}

QDialog {
    background-color: #323232;
}

QLineEdit {
    background-color: #777777;
}

QLabel {
    background-color: #212121;
    color: #eeeeee;
}