QMenuBar {
    background-color: #ededed;
}

QMenuBar::item::selected {
    background-color: #dfdfdf;
}

QPushButton {
    background-color: #e4e4e4;
}

QMainWindow {
    background-color: #dddddd;
}

QDialog {
    background-color: #dddddd;
}

QLineEdit {
    background-color: #e4e4e4;
}

QLabel {
    background-color: #efefef;
}